body {
  background-color: lightpink;
  margin: 0;
}
h1 {
  font-family:Verdana, Arial, sans-serif;
  color: purple;
  font-size: 60px;
  text-align:center;
  padding: 70px;
  background: lightblue;
}
h2 {
  font-family:Verdana, Arial, sans-serif;
  color: darkgreen;
  font-size: 30px;
  text-align:center;
  background: orange;
  padding: 20px;
}
h3 {
  font-family:Verdana, Arial, sans-serif;
  color: white;
  font-size: 15px;
  text-align:center;
}
  h4 {
  font-family:Verdana, Arial, sans-serif;
  color: darkgreen;
  font-size: 30px;
  text-align:center;
}
 p1 {
 font-family:Verdana, Arial, sans-serif;
 font-size: 25px;
 text-align:center;
 color: purple;
}
 p2 {
 font-family:Verdana, Arial, sans-serif;
 font-size: 30px;
 font-style:Italics;
 color: darkgreen;

}
 p3 {
 font-family:Verdana, Arial, sans-serif;
 font-size: 30px;
 text-align:center;
 color: white;
}
 content {
  padding: 30px;
}
 p { 
  text-align:center;
  ont-family:Verdana, Arial, sans-serif;
 font-size: 30px;
 color: purple;
}
 footer {
 font-family:Verdana, Arial, sans-serif;
 font-size: 18px;
 text-align:center;
 color: darkgreen;
}
 nav {
  text-align:center;
  font-style:horizontal;
  padding: 40px;
}
 li {
  float: center;
}
 li a {
  list-style-type: none;
  display: block;
  color: white;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none; 
  background: lightblue;
  font-size:25px;
}
 li a:hover {
  background: black; 
}
 div {
 text-align:center;
}
 tr {
  color: purple;
  font-family:Verdana, Arial, sans-serif;
  list-style-type: table;
  background: white;
  padding:30px;
  font-size: 30px;
  margin: 2px;
}
 table class {
   float: center;
}